# Ignore node_modules folder
node_modules/

# Ignore lock files
package-lock.json

# Ignore environment variables (if you use dotenv)
.env

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore build or dist folders
/dist
/build

# Ignore cache
.cache/

# Ignore temp files
*.tmp
*.temp
