* {
  margin: 0;
  box-sizing: border-box;
}

.main-section {
  display: flex;
  width: 100%;
  height: 100vh;
}

.sidebar {
  width: 20%;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar .sidebar-btn {
  width: 80%;
  margin: 10px 0;
  padding: 10px 15px;
  background-color: #2b2b3f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.sidebar .signout {
  background-color: rgb(152, 37, 37);
}

.sidebar-btn:hover {
  background-color: #febd69;
}
.sidebar .signout:hover {
  background-color: rgb(190, 15, 15);
}

.content {
  flex: 1;
  padding: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  border: 2px solid #eee;
  margin: 10px;
  padding: 1.2rem;
  border-radius: 6px;
}

.content h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.section p {
  margin: 10px 0;
}

.section input {
  margin-top: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
}

.section button {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #2b2b3f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.section button:hover {
  background-color: #febd69;
}

.flex-between {
  display: grid;
  /* justify-content: center; */
  align-items: center;
  grid-template-columns: 15rem 20rem;
  gap: 10px;
}
.flex-between input {
  display: flex;
  margin: 0;
  /* justify-content: space-between; */
  align-items: center;
  font-size: 15px;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.flex-end .reset-btn {
  color: #2b2b3f;
  background-color: #ccc;
  cursor: pointer;
  font-size: bold;
}
.flex-end .reset-btn:hover {
  color: #ccc;
  background-color: #2b2b3f;
}
