* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

#loading {
    position: relative;
    width: 100%;
    height: 100vh;
    display: block;
}

.loading_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}

.store_page .container_content {
    width: 90%;
    margin: 30px auto;
    display: none;
    justify-content: space-between;
}

/* start Sidebar */
.store_page .small-filters {
    display: none;
    position: relative;
    margin: 30px 50px 0;
}
.store_page .small-filters button {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 25px;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 16px -7px gray;
}
.store_page .small-filters .filters {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 16px -7px gray;
}
.store_page .small-filters .filters.active {
    display: block;
} 
.store_page .container_content .sidebar-column {
    width: 24%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 16px -7px gray;
}

.store_page .sidebar-column h2 {
    margin-bottom: 15px;
}

.store_page .sidebar-column .price,
.store_page .sidebar-column .rating,
.store_page .sidebar-column .category,
.store_page .small-filters .category,
.store_page .small-filters .price,
.store_page .small-filters .rating {
    padding: 15px 0;
    border-top: 3px solid #d2caca;
    margin-left: 10px;
}
.store_page .small-filters .category {
    border-top: none;
}
.store_page .price h3 {
    margin-bottom: 10px;
}
.store_page h3 {
    font-weight: bold;
    font: 16px;
}
.store_page .price input {
    padding: 10px;
    border-radius: 5px;
    border: .5px solid #d2caca;
    width: 100%;
    margin-bottom: 10px;
}

.store_page .price button {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #febd69;
    font-size: 15px;
    font-weight: bold;
}

.store_page .rating div {
    margin: 15px 0;
}

.store_page .categories .category-item {
    padding: 5px;
    cursor: pointer;
}

.store_page .category-item:hover {
    background-color: #febd69;
    border-radius: 5px;
}

.store_page .categories {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.5s ease;
}

.store_page #category-accordion.active .categories {
    max-height: 700px;
    padding: 10px 5px;
}
@media screen and (max-width: 992px) {
    .store_page .container_content .sidebar-column {
        display: none;
    }
    .store_page .container_content .products-list-column {
        width: 100% !important;
    }
    .store_page .small-filters {
        display: block;
    }
}
/* end Sidebar */

/* start Product List */
.store_page .container_content .products-list-column {
    width: 74%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 16px -7px gray;
}

.store_page .container_content .products-list-column .heading {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.store_page .products-list-column .heading select {
    margin-right: auto;
    padding: 5px;
    border: .5px solid #d2caca;
    border-radius: 5px;
    width: 200px;
}

.store_page .products-list-column .heading .product-count {
    font-size: 20px;
    font-weight: 600;
}

.store_page .products-list-column .products-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

/* end Product List */

/* start Pagination */
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination button {
    padding: 5px 10px;
    background-color: #febd69;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 5px;
    cursor: pointer;
}

/* end Pagination */